mixin button(href, text, color = '#ffffff', reverseColor = false, fullWidth = false)
  include ../variables/variables.pug
  a(href=href target="_blank" style=`display: inline-block; width: inherit; background-color: ${reverseColor ? getReverseColor() : getPrimaryColor()}; color: ${color}; padding: ${fullWidth ? '0' : '0 40px'}; height: 48px; line-height: 48px; text-align: center; border-radius: 24px; font-size: 1.125rem; font-weight: 600; cursor: pointer; text-decoration: none;`)
    | #{text}